## Bayesian methods of hyperparameter optimization

In addition to the random search and the grid search methods for selecting optimal hyperparameters, we can use Bayesian methods of probabilities to select the optimal hyperparameters for an algorithm.

In this case study, we will be using the BayesianOptimization library to perform hyperparmater tuning. This library has very good documentation which you can find here: https://github.com/fmfn/BayesianOptimization

You will need to install the Bayesian optimization module. Running a cell with an exclamation point in the beginning of the command will run it as a shell command — please do this to install this module from our notebook in the cell below.

In [ ]:
#! pip install bayesian-optimization
#! pip install lightgbm
#! pip install catboost

In [1]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
import lightgbm
from bayes_opt import BayesianOptimization
from catboost import CatBoostClassifier, cv, Pool

In [2]:
import os
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'Bayesian_optimization_case_study.ipynb',
 'flight_delays_test.csv.zip',
 'flight_delays_train.csv.zip']

## How does Bayesian optimization work?

Bayesian optimization works by constructing a posterior distribution of functions (Gaussian process) that best describes the function you want to optimize. As the number of observations grows, the posterior distribution improves, and the algorithm becomes more certain of which regions in parameter space are worth exploring and which are not, as seen in the picture below.

<img src="https://github.com/fmfn/BayesianOptimization/blob/master/examples/bo_example.png?raw=true" />
As you iterate over and over, the algorithm balances its needs of exploration and exploitation while taking into account what it knows about the target function. At each step, a Gaussian Process is fitted to the known samples (points previously explored), and the posterior distribution, combined with an exploration strategy (such as UCB — aka Upper Confidence Bound), or EI (Expected Improvement). This process is used to determine the next point that should be explored (see the gif below).
<img src="https://github.com/fmfn/BayesianOptimization/raw/master/examples/bayesian_optimization.gif" />

## Let's look at a simple example

The first step is to create an optimizer. It uses two items:
* function to optimize
* bounds of parameters

The function is the procedure that counts metrics of our model quality. The important thing is that our optimization will maximize the value on function. Smaller metrics are best. Hint: don't forget to use negative metric values.

Here we define our simple function we want to optimize.

In [3]:
def simple_func(a, b):
    return a + b

Now, we define our bounds of the parameters to optimize, within the Bayesian optimizer.

In [51]:
optimizer = BayesianOptimization(
    simple_func,
    {'a': (1, 3),
    'b': (4, 7)})

These are the main parameters of this function:

* **n_iter:** This is how many steps of Bayesian optimization you want to perform. The more steps, the more likely you are to find a good maximum.

* **init_points:** This is how many steps of random exploration you want to perform. Random exploration can help by diversifying the exploration space.

Let's run an example where we use the optimizer to find the best values to maximize the target value for a and b given the inputs of 3 and 2.

In [52]:
optimizer.maximize(n_iter=3, init_points=2)

|   iter    |  target   |     a     |     b     |
-------------------------------------------------
|  1        |  5.736    |  1.119    |  4.617    |
|  2        |  8.804    |  2.228    |  6.576    |
|  3        |  8.824    |  2.237    |  6.586    |
|  4        |  8.0      |  1.0      |  7.0      |
|  5        |  10.0     |  3.0      |  7.0      |
=================================================

Great, now let's print the best parameters and the associated maximized target.

In [53]:
print(optimizer.max['params']);optimizer.max['target']

{'a': 3.0, 'b': 7.0}

10.0

## Test it on real data using the Light GBM

The dataset we will be working with is the famous flight departures dataset. Our modeling goal will be to predict if a flight departure is going to be delayed by 15 minutes based on the other attributes in our dataset. As part of this modeling exercise, we will use Bayesian hyperparameter optimization to identify the best parameters for our model.

**<font color='teal'> You can load the zipped csv files just as you would regular csv files using Pandas read_csv. In the next cell load the train and test data into two seperate dataframes. </font>**

In [7]:
train_df = pd.read_csv('flight_delays_train.csv.zip')
test_df = pd.read_csv('flight_delays_test.csv.zip')

**<font color='teal'> Print the top five rows of the train dataframe and review the columns in the data. </font>**

In [8]:
train_df.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y

In [20]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  object
 1   DayofMonth         100000 non-null  object
 2   DayOfWeek          100000 non-null  object
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [18]:
test_df.head()

  Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0   c-7       c-25       c-3      615            YV    MRY  PHX       598
1   c-4       c-17       c-2      739            WN    LAS  HOU      1235
2  c-12        c-2       c-7      651            MQ    GSP  ORD       577
3   c-3       c-25       c-7     1614            WN    BWI  MHT       377
4   c-6        c-6       c-3     1505            UA    ORD  STL       258

In [21]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          100000 non-null  object
 1   DayofMonth     100000 non-null  object
 2   DayOfWeek      100000 non-null  object
 3   DepTime        100000 non-null  int64
 4   UniqueCarrier  100000 non-null  object
 5   Origin         100000 non-null  object
 6   Dest           100000 non-null  object
 7   Distance       100000 non-null  int64
dtypes: int64(2), object(6)
memory usage: 6.1+ MB

**<font color='teal'> Use the describe function to review the numeric columns in the train dataframe. </font>**

In [9]:
train_df.describe()

             DepTime      Distance
count  100000.000000  100000.00000
mean     1341.523880     729.39716
std       476.378445     574.61686
min         1.000000      30.00000
25%       931.000000     317.00000
50%      1330.000000     575.00000
75%      1733.000000     957.00000
max      2534.000000    4962.00000

In [19]:
test_df.describe()

             DepTime      Distance
count  100000.000000  100000.00000
mean     1338.936600     723.13011
std       480.554102     563.22322
min         1.000000      31.00000
25%       928.000000     321.00000
50%      1329.000000     574.00000
75%      1733.000000     948.00000
max      2400.000000    4962.00000

Notice, `DepTime` is the departure time in a numeric representation in 2400 hours.

 **<font color='teal'>The response variable is 'dep_delayed_15min' which is a categorical column, so we need to map the Y for yes and N for no values to 1 and 0. Run the code in the next cell to do this.</font>**

In [10]:
#train_df = train_df[train_df.DepTime <= 2400].copy()
y_train = train_df['dep_delayed_15min'].map({'Y': 1, 'N': 0}).values

In [24]:
y_train.shape

(100000,)

## Feature Engineering
Use these defined functions to create additional features for the model. Run the cell to add the functions to your workspace.

In [29]:
def label_enc(df_column):
    df_column = LabelEncoder().fit_transform(df_column)
    return df_column

def make_harmonic_features_sin(value, period=2400):
    value *= 2 * np.pi / period 
    return np.sin(value)

def make_harmonic_features_cos(value, period=2400):
    value *= 2 * np.pi / period 
    return np.cos(value)

def feature_eng(df):
    df['flight'] = df['Origin']+df['Dest']
    df['Month'] = df.Month.map(lambda x: x.split('-')[-1]).astype('int32')
    df['DayofMonth'] = df.DayofMonth.map(lambda x: x.split('-')[-1]).astype('uint8')
    df['begin_of_month'] = (df['DayofMonth'] < 10).astype('uint8')
    df['midddle_of_month'] = ((df['DayofMonth'] >= 10)&(df['DayofMonth'] < 20)).astype('uint8')
    df['end_of_month'] = (df['DayofMonth'] >= 20).astype('uint8')
    df['DayOfWeek'] = df.DayOfWeek.map(lambda x: x.split('-')[-1]).astype('uint8')
    df['hour'] = df.DepTime.map(lambda x: x/100).astype('int32')
    df['morning'] = df['hour'].map(lambda x: 1 if (x <= 11)& (x >= 7) else 0).astype('uint8')
    df['day'] = df['hour'].map(lambda x: 1 if (x >= 12) & (x <= 18) else 0).astype('uint8')
    df['evening'] = df['hour'].map(lambda x: 1 if (x >= 19) & (x <= 23) else 0).astype('uint8')
    df['night'] = df['hour'].map(lambda x: 1 if (x >= 0) & (x <= 6) else 0).astype('int32')
    df['winter'] = df['Month'].map(lambda x: x in [12, 1, 2]).astype('int32')
    df['spring'] = df['Month'].map(lambda x: x in [3, 4, 5]).astype('int32')
    df['summer'] = df['Month'].map(lambda x: x in [6, 7, 8]).astype('int32')
    df['autumn'] = df['Month'].map(lambda x: x in [9, 10, 11]).astype('int32')
    df['holiday'] = (df['DayOfWeek'] >= 5).astype(int) 
    df['weekday'] = (df['DayOfWeek'] < 5).astype(int)
    df['airport_dest_per_month'] = df.groupby(['Dest', 'Month'])['Dest'].transform('count')
    df['airport_origin_per_month'] = df.groupby(['Origin', 'Month'])['Origin'].transform('count')
    df['airport_dest_count'] = df.groupby(['Dest'])['Dest'].transform('count')
    df['airport_origin_count'] = df.groupby(['Origin'])['Origin'].transform('count')
    df['carrier_count'] = df.groupby(['UniqueCarrier'])['Dest'].transform('count')
    df['carrier_count_per month'] = df.groupby(['UniqueCarrier', 'Month'])['Dest'].transform('count')
    df['deptime_cos'] = df['DepTime'].map(make_harmonic_features_cos)
    df['deptime_sin'] = df['DepTime'].map(make_harmonic_features_sin)
    df['flightUC'] = df['flight']+df['UniqueCarrier']
    df['DestUC'] = df['Dest']+df['UniqueCarrier']
    df['OriginUC'] = df['Origin']+df['UniqueCarrier']
    return df.drop('DepTime', axis=1)

Concatenate the training and testing dataframes.

In [26]:
full_df = pd.concat([train_df.drop('dep_delayed_15min', axis=1), test_df])
full_df = feature_eng(full_df)
full_df.head()

,Month,DayofMonth,DayOfWeek,UniqueCarrier,Origin,Dest,Distance,flight,begin_of_month,midddle_of_month,...,airport_origin_per_month,airport_dest_count,airport_origin_count,carrier_count,carrier_count_per month,deptime_cos,deptime_sin,flightUC,DestUC,OriginUC
0,8,21,7,AA,ATL,DFW,732,ATLDFW,0,0,...,1019,8290,11387,18024,1569,0.343660,-0.939094,ATLDFWAA,DFWAA,ATLAA
1,4,20,3,US,PIT,MCO,834,PITMCO,0,0,...,105,3523,1390,13069,1094,-0.612907,-0.790155,PITMCOUS,MCOUS,PITUS
2,9,2,5,XE,RDU,CLE,416,RDUCLE,1,0,...,136,2247,1747,11737,977,-0.835807,-0.549023,RDUCLEXE,CLEXE,RDUXE
3,11,25,6,OO,DEN,MEM,872,DENMEM,0,0,...,514,1785,6222,15343,1242,-0.884988,0.465615,DENMEMOO,MEMOO,DENOO
4,10,7,6,WN,MDW,OMA,423,MDWOMA,1,0,...,226,687,2571,30958,2674,0.073238,-0.997314,MDWOMAWN,OMAWN,MDWWN

In [27]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 33 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     200000 non-null  int32
 1   DayofMonth                200000 non-null  uint8
 2   DayOfWeek                 200000 non-null  uint8
 3   UniqueCarrier             200000 non-null  object
 4   Origin                    200000 non-null  object
 5   Dest                      200000 non-null  object
 6   Distance                  200000 non-null  int64
 7   flight                    200000 non-null  object
 8   begin_of_month            200000 non-null  uint8
 9   midddle_of_month          200000 non-null  uint8
 10  end_of_month              200000 non-null  uint8
 11  hour                      200000 non-null  int32
 12  morning                   200000 non-null  uint8
 13  day                       200000 non-null  uint8
 14  evening                   200000 non-null  uint8
 15  night                     200000 non-null  int32
 16  winter                    200000 non-null  int32
 17  spring                    200000 non-null  int32
 18  summer                    200000 non-null  int32
 19  autumn                    200000 non-null  int32
 20  holiday                   200000 non-null  int32
 21  weekday                   200000 non-null  int32
 22  airport_dest_per_month    200000 non-null  int64
 23  airport_origin_per_month  200000 non-null  int64
 24  airport_dest_count        200000 non-null  int64
 25  airport_origin_count      200000 non-null  int64
 26  carrier_count             200000 non-null  int64
 27  carrier_count_per month   200000 non-null  int64
 28  deptime_cos               200000 non-null  float64
 29  deptime_sin               200000 non-null  float64
 30  flightUC                  200000 non-null  object
 31  DestUC                    200000 non-null  object
 32  OriginUC                  200000 non-null  object
dtypes: float64(2), int32(9), int64(7), object(7), uint8(8)
memory usage: 34.3+ MB

In [28]:
full_df.describe()

,Month,DayofMonth,DayOfWeek,Distance,begin_of_month,midddle_of_month,end_of_month,hour,morning,day,...,holiday,weekday,airport_dest_per_month,airport_origin_per_month,airport_dest_count,airport_origin_count,carrier_count,carrier_count_per month,deptime_cos,deptime_sin
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,6.530710,15.702585,3.942155,726.263635,0.296975,0.328635,0.374390,13.105345,0.319885,0.431065,...,0.414265,0.585735,315.561030,314.742940,3766.161100,3756.379880,14533.067820,1214.917320,-0.373570,-0.129196
std,3.415164,8.792117,1.991469,568.955768,0.456927,0.469718,0.483966,4.792361,0.466433,0.495226,...,0.492596,0.492596,265.562933,264.690449,3170.049833,3157.551081,8144.726522,683.050928,0.551643,0.734471
min,1.000000,1.000000,1.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,446.000000,27.000000,-1.000000,-1.000000
25%,4.000000,8.000000,2.000000,319.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,...,0.000000,0.000000,109.000000,108.000000,1341.000000,1305.000000,8701.000000,707.000000,-0.866025,-0.852640
50%,7.000000,16.000000,4.000000,575.000000,0.000000,0.000000,0.000000,13.000000,0.000000,0.000000,...,0.000000,1.000000,259.000000,264.000000,3019.000000,3029.000000,13311.000000,1127.000000,-0.502266,-0.311506
75%,9.000000,23.000000,6.000000,954.000000,1.000000,1.000000,1.000000,17.000000,1.000000,1.000000,...,1.000000,1.000000,456.000000,456.000000,5571.000000,5516.000000,15343.000000,1372.000000,-0.010472,0.641450
max,12.000000,31.000000,7.000000,4962.000000,1.000000,1.000000,1.000000,25.000000,1.000000,1.000000,...,1.000000,1.000000,999.000000,1019.000000,11382.000000,11387.000000,30958.000000,2728.000000,1.000000,1.000000

Apply the earlier defined feature engineering functions to the full dataframe.

In [30]:
for column in ['UniqueCarrier', 'Origin', 'Dest','flight',  'flightUC', 'DestUC', 'OriginUC']:
    full_df[column] = label_enc(full_df[column])

In [42]:
full_df[['UniqueCarrier', 'Origin', 'Dest','flight',  'flightUC', 'DestUC', 'OriginUC']].head()

   UniqueCarrier  Origin  Dest  flight  flightUC  DestUC  OriginUC
0              1      19    82     171       265     494        67
1             19     226   180    3986      6907    1085      1441
2             21     239    62    4091      7064     359      1518
3             16      81   184    1304      2258    1122       484
4             20     182   210    2979      5144    1313      1103


Split the new full dataframe into X_train and X_test.

In [43]:
X_train = full_df[:train_df.shape[0]]
X_test = full_df[train_df.shape[0]:]

Create a list of the categorical features.

In [44]:
categorical_features = ['Month',  'DayOfWeek', 'UniqueCarrier', 'Origin', 'Dest','flight',  'flightUC', 'DestUC', 'OriginUC']

Let's build a light GBM model to test the bayesian optimizer.

### [LightGBM](https://lightgbm.readthedocs.io/en/latest/) is a gradient boosting framework that uses tree-based learning algorithms. It is designed to be distributed and efficient with the following advantages:

* Faster training speed and higher efficiency.
* Lower memory usage.
* Better accuracy.
* Support of parallel and GPU learning.
* Capable of handling large-scale data.

First, we define the function we want to maximize and that will count cross-validation metrics of lightGBM for our parameters.

Some params such as num_leaves, max_depth, min_child_samples, min_data_in_leaf should be integers.

In [54]:
def lgb_eval(num_leaves,max_depth,lambda_l2,lambda_l1,min_child_samples, min_data_in_leaf):
    params = {
        "objective" : "binary",
        "metric" : "auc", 
        'is_unbalance': True,
        "num_leaves" : int(num_leaves),
        "max_depth" : int(max_depth),
        "lambda_l2" : lambda_l2,
        "lambda_l1" : lambda_l1,
        "num_threads" : 20,
        "min_child_samples" : int(min_child_samples),
        'min_data_in_leaf': int(min_data_in_leaf),
        "learning_rate" : 0.03,
        "subsample_freq" : 5,
        "bagging_seed" : 42,
        "verbosity" : -1
    }
    lgtrain = lightgbm.Dataset(X_train, y_train,categorical_feature=categorical_features)
    cv_result = lightgbm.cv(params,
                       lgtrain,
                       1000,
                       early_stopping_rounds=100,
                       stratified=True,
                       nfold=3)
    return cv_result['auc-mean'][-1]

Apply the Bayesian optimizer to the function we created in the previous step to identify the best hyperparameters. We will run 10 iterations and set init_points = 2.

In [56]:
lgbBO = BayesianOptimization(lgb_eval, {'num_leaves': (25, 4000),
                                                'max_depth': (5, 63),
                                                'lambda_l2': (0.0, 0.05),
                                                'lambda_l1': (0.0, 0.05),
                                                'min_child_samples': (50, 10000),
                                                'min_data_in_leaf': (100, 2000)
                                                })

lgbBO.maximize(n_iter=10, init_points=2)

|   iter    |  target   | lambda_l1 | lambda_l2 | max_depth | min_ch... | min_da... | num_le... |
-------------------------------------------------------------------------------------------------
|  1        |  0.7435   |  0.002439 |  0.0346   |  58.58    |  3.115e+0 |  1.712e+0 |  2.614e+0 |
|  2        |  0.7225   |  0.01849  |  0.04167  |  39.89    |  6.923e+0 |  125.1    |  3.575e+0 |
|  3        |  0.7358   |  0.04284  |  0.01864  |  11.1     |  8.241e+0 |  1.052e+0 |  3.708e+0 |
|  4        |  0.7206   |  0.006603 |  0.02838  |  51.15    |  2.863e+0 |  525.1    |  3.029e+0 |
|  5        |  0.7432   |  0.0129   |  0.0289   |  31.34    |  6.018e+0 |  1.395e+0 |  3.955e+0 |
|  6        |  0.7433   |  0.03174  |  0.03514  |  21.24    |  1.576e+0 |  1.73e+03 |  3.394e+0 |
|  7        |  0.7263   |  0.00656  |  0.0387   |  33.17    |  8.286e+0 |  698.8    |  429.5    |
|  8        |  0.7254   |  0.006264 |  0.04735  |  46.33    |  7.521e+0 |  627.5    |  2.583e+0 |
|  9        |  0.7436   |  0.02027  |  0.01543  |  21.54    |  5.012e+0 |  1.367e+0 |  479.5    |
|  10       |  0.7362   |  0.0401   |  0.01378  |  56.3     |  6.104e+0 |  1.088e+0 |  2.882e+0 |
|  11       |  0.7298   |  0.04268  |  0.04561  |  49.78    |  3.623e+0 |  930.9    |  1.127e+0 |
|  12       |  0.7418   |  0.02715  |  0.006702 |  13.63    |  8.289e+0 |  1.16e+03 |  2.957e+0 |
=================================================================================================

 **<font color='teal'> Print the best result by using the '.max' function.</font>**

In [58]:
lgbBO.max

{'target': 0.7435651788016552,
 'params': {'lambda_l1': 0.020268370649107283,
  'lambda_l2': 0.015425170881003508,
  'max_depth': 21.538307973257712,
  'min_child_samples': 5011.575808420174,
  'min_data_in_leaf': 1366.7466990489072,
  'num_leaves': 479.5145769475898}}

Review the process at each step by using the '.res[0]' function.

In [85]:
lgbBO.res

[{'target': 0.7435162598607229,
  'params': {'lambda_l1': 0.0024393921039805367,
   'lambda_l2': 0.03460044602087666,
   'max_depth': 58.58135828425112,
   'min_child_samples': 3114.9609927618676,
   'min_data_in_leaf': 1712.0661515788497,
   'num_leaves': 2613.518325410269}},
 {'target': 0.7225468259677829,
  'params': {'lambda_l1': 0.018488782344478795,
   'lambda_l2': 0.041669226189972104,
   'max_depth': 39.893400705487615,
   'min_child_samples': 6922.967372937832,
   'min_data_in_leaf': 125.0544906062321,
   'num_leaves': 3574.971911080703}},
 {'target': 0.735762302540569,
  'params': {'lambda_l1': 0.04284124630520311,
   'lambda_l2': 0.01863933718602308,
   'max_depth': 11.09884738175127,
   'min_child_samples': 8240.922556876425,
   'min_data_in_leaf': 1052.1535841451305,
   'num_leaves': 3707.8674696945754}},
 {'target': 0.7206021912068095,
  'params': {'lambda_l1': 0.006603177416875855,
   'lambda_l2': 0.02838237084577755,
   'max_depth': 51.15266357753374,
   'min_child_samples': 2863.448592875233,
   'min_data_in_leaf': 525.0555659558913,
   'num_leaves': 3029.2140796576573}},
 {'target': 0.7432384867357512,
  'params': {'lambda_l1': 0.012901355916085322,
   'lambda_l2': 0.02889879227317456,
   'max_depth': 31.33945884904949,
   'min_child_samples': 6017.561977958411,
   'min_data_in_leaf': 1394.6208823080171,
   'num_leaves': 3955.015255493355}},
 {'target': 0.7432707410293501,
  'params': {'lambda_l1': 0.031740895695467654,
   'lambda_l2': 0.035135691594016326,
   'max_depth': 21.236553871839913,
   'min_child_samples': 1575.8878148563822,
   'min_data_in_leaf': 1730.054275580072,
   'num_leaves': 3394.1055085419107}},
 {'target': 0.726330413617822,
  'params': {'lambda_l1': 0.006560474303450009,
   'lambda_l2': 0.03870027854181554,
   'max_depth': 33.16838733649891,
   'min_child_samples': 8286.3539909287,
   'min_data_in_leaf': 698.8264437857536,
   'num_leaves': 429.4928041459736}},
 {'target': 0.7254467708804443,
  'params': {'lambda_l1': 0.006264133718762577,
   'lambda_l2': 0.0473472306721761,
   'max_depth': 46.32972141204147,
   'min_child_samples': 7521.0138455219885,
   'min_data_in_leaf': 627.4561742658892,
   'num_leaves': 2582.7730779913254}},
 {'target': 0.7435651788016552,
  'params': {'lambda_l1': 0.020268370649107283,
   'lambda_l2': 0.015425170881003508,
   'max_depth': 21.538307973257712,
   'min_child_samples': 5011.575808420174,
   'min_data_in_leaf': 1366.7466990489072,
   'num_leaves': 479.5145769475898}},
 {'target': 0.7362299575420862,
  'params': {'lambda_l1': 0.04009762333519605,
   'lambda_l2': 0.013779427374274851,
   'max_depth': 56.29989047552651,
   'min_child_samples': 6103.6963042398975,
   'min_data_in_leaf': 1088.0276656002025,
   'num_leaves': 2882.3660987179323}},
 {'target': 0.7298445984695917,
  'params': {'lambda_l1': 0.04268390853284279,
   'lambda_l2': 0.04560526799994094,
   'max_depth': 49.77946327233343,
   'min_child_samples': 3622.6229737019835,
   'min_data_in_leaf': 930.9326015822793,
   'num_leaves': 1127.4047143767739}},
 {'target': 0.7418353886390042,
  'params': {'lambda_l1': 0.02715326647039758,
   'lambda_l2': 0.006701928136405544,
   'max_depth': 13.629800897728753,
   'min_child_samples': 8289.239057595763,
   'min_data_in_leaf': 1159.8947697443048,
   'num_leaves': 2957.48090206059}}]